<% @teams.each do |team| %>
  <fieldset class="grid_4 column">
    <legend><%= team.name %></legend>
    <ul>
    <% team.players.each do |player| %>
      <li><%= player.first_name + " " + player.last_name %></li>   
    <%end%>
   </ul> 
</fieldset>
<% end %>

<br />
<% if params[:lock] %>
<%= link_to 'New Team', new_team_path %>
<% end %>
