<table id = "available_player">
<% position.each_with_index do |player, index| %>
  <tr class="livesearch">
    <td style="font-size:22px;padding-top:2px;text-align:left;"><%= (index + 1) %></td>
    <td style="font-size:22px;padding-top:2px;text-align:left;"><%= player_link(player) %></td>
  </tr>
<% end %>
</table>
