<table id = "avialable_player">
<% position.each do |player| %>
  <tr class="livesearch">
    <td style="font-size:12px;"><%= player.rank %> <%= player.first_name + " " + player.last_name %></td>
    <% if params[:lock] %> 
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <%end%>
  </tr>
<% end %>
 
</table>
