<h1 style="font-size:96px;"><center>Player Search<span style="font-size:12px;color:#777777;">woot!</span></center></h1><br/><br/>
<center><form method="get"><input type="text" value="" name="q" id="q" /></form></center>
<div style="width:50%;">
<table>
<% @player.each do |player| %>
  <tr class="livesearch"> 
    <td id="search"><%= link_to "(#{player.rank})  #{player.first_name}  #{player.last_name} #{player.position}", edit_player_path(player), :id => "search" %></td>
  </tr>
<% end %>
</table>
</div>

<% javascript_tag do %>

Event.observe(window, 'load', function() { 
  new QuicksilverLiveSearch('q', '.livesearch');
});

<% end %>
