<h1 style="font-size:96px;"><center>Player Search<span style="font-size:12px;color:#777777;">woot!</span></center></h1><br/><br/>
<center><form method="get"><input type="text" value="" name="q" id="q" /></form></center>
<div style="width:50%;">
<table>
<th><%= render("position_restriction") %></th>
<% @player.each do |player| %>
  <tr class="livesearch"> 
    <td id="search"><span class="position">(<%=player.rank%>)&nbsp;</span><%= ((session[:admin]) ? (link_to "#{player.first_name}  #{player.last_name} #{player.position}", edit_player_path(player), :id => "search") :  "#{player.first_name}  #{player.last_name} #{player.position}") %></td>
  </tr>
<% end %>
</table>
</div>
<% content_for :refresh_tag do %>
<meta http-equiv="refresh" content="10"/>

<% end %>
<% javascript_tag do %>

Event.observe(window, 'load', function() { 
  new QuicksilverLiveSearch('q', '.livesearch');
});

<% end %>
