<h1><center><u>Player Search</u></center></h1>
<center><form method="get"><input type="text" value="" name="q" id="q" /></form></center>
<table>
<% @player.each do |player| %>
  <tr class="livesearch">
    <td></td> 
    <td><%= link_to "(#{player.rank})  #{player.first_name}  #{player.last_name}", edit_player_path(player) %></td>
  </tr>
  </br>
<% end %>
</table>

<% javascript_tag do %>

Event.observe(window, 'load', function() { 
  new QuicksilverLiveSearch('q', '.livesearch');
});

<% end %>
