<center><h1>Round <%= current_round %></h1></center>
<table>
<% (1..224).each do |pick| %>
	<% player = get_picked_player(pick) %>
	
	<tr><td style="font-size:14px;color:#777777;padding-top:0px;"><%= pick %>. <%= Team.with_pick(pick).first.player_name %> - <%= player.try(:name)  %> </td></tr>
<% end %>
</table>
